@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&family=Work+Sans:wght@400;600;700&display=swap");
.wrapper {
  height: 100%;
  width: 100%;
}

.header {
  width: 100%;
  padding: 20px 50px;
}
.header__burger {
  display: none;
}
.header__body {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__menu ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__menu ul li a {
  margin-right: 50px;
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
  text-align: center;
  color: #FFFFFF;
}
.header__menu ul li a:last-child {
  margin-right: 30px;
}
.header__menu .header__button {
  width: 152px;
  height: 60px;
  background: #A259FF;
  border-radius: 20px;
  outline: none;
  border: none;
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
  text-align: center;
  color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  transition: all 0.3s ease;
}
.header__menu .header__button:hover {
  transform: scale(0.95);
}
.header__menu .header__button img {
  width: 20px;
}

.hero {
  padding: 80px 0px;
}
.hero__right button {
  width: 224px;
  height: 60px;
  background: #A259FF;
  border-radius: 20px;
  outline: none;
  border: none;
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
  text-align: center;
  color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  transition: all 0.3s ease;
  margin-bottom: 30px;
}
.hero__right button:hover {
  transform: scale(0.95);
}
.hero__right button img {
  width: 20px;
}
.hero__items {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.hero__right {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  height: auto;
}
.hero__right h1 {
  font-weight: 600;
  font-size: 67px;
  line-height: 110%;
  color: #FFFFFF;
  width: 500px;
  margin: 0px 0px 20px;
}
.hero__right p {
  font-weight: 400;
  font-size: 22px;
  line-height: 160%;
  text-transform: capitalize;
  color: #FFFFFF;
  width: 510px;
  margin-bottom: 30px;
}
.hero__right-title {
  display: flex;
  align-items: center;
  gap: 60px;
}
.hero__right-title h3 {
  font-weight: 700;
  font-size: 28px;
  line-height: 140%;
  display: flex;
  align-items: center;
  text-transform: capitalize;
  color: #FFFFFF;
  align-self: stretch;
  font-family: "Space Mono";
}
.hero__right-title span {
  font-weight: 400;
  font-size: 23.99px;
  line-height: 160%;
  text-transform: capitalize;
  color: #FFFFFF;
}
.hero__left {
  width: 510px;
  background: #3B3B3B;
  border-radius: 20px;
  transition: all 0.3s ease;
}
.hero__left:hover {
  transform: scale(0.95);
}
.hero__left img {
  width: 510px;
}
.hero__left h4 {
  font-weight: 600;
  font-size: 22px;
  line-height: 140%;
  text-transform: capitalize;
  color: #FFFFFF;
  margin-bottom: 10px;
}
.hero__left-items {
  margin: 22px 20px;
}
.hero__left-title {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 12px;
}
.hero__left-title img {
  width: 24px;
}
.hero__left-title span {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #FFFFFF;
}

.trending {
  padding: 80px 0px;
}
.trending__items {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.trending__items p {
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 140%;
  text-transform: capitalize;
  color: #FFFFFF;
  margin-bottom: 10px;
}
.trending__item img {
  width: 330px;
  margin-bottom: 15px;
  transition: all 0.3s ease;
}
.trending__item img:hover {
  transform: scale(0.95);
}
.trending__item-images {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 15px;
}
.trending__item-images img {
  width: 100px;
}
.trending__item-images span {
  font-family: "Space Mono";
  background: #A259FF;
  border-radius: 20px;
  padding: 32.5px 16px;
  font-weight: 700;
  font-size: 22px;
  line-height: 160%;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: capitalize;
  color: #FFFFFF;
  transition: all 0.3s ease;
  cursor: pointer;
}
.trending__item-images span:hover {
  transform: scale(0.95);
}
.trending__item-title {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 12px;
}
.trending__item-title img {
  width: 24px;
  height: 24px;
}
.trending__item-title span {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #FFFFFF;
}

.topRated {
  padding: 80px 0 50px;
}
.topRated__items {
  padding-top: 60px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.topRated__item {
  margin-bottom: 30px;
  transition: all 0.3s ease;
}
.topRated__item:hover {
  transform: scale(0.95);
}
.topRated__item-avatar {
  align-items: center;
  background-color: #3B3B3B;
  border-radius: 20px;
  cursor: pointer;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
  height: auto;
  padding: 20px;
  pointer-events: auto;
  width: 240px;
}
.topRated__item-avatar img {
  height: auto;
  width: -moz-fit-content;
  width: fit-content;
  margin-bottom: 20px;
}
.topRated__item-title h3 {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0px;
  margin-top: -1px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 140%;
  color: #FFFFFF;
  margin-bottom: 5px;
}
.topRated__item-title p {
  flex: 1;
  margin-top: -1px;
  mix-blend-mode: normal;
  position: relative;
  white-space: nowrap;
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #FFFFFF;
}
.topRated__item-title span {
  font-family: "Work Sans";
  flex: 1;
  margin-top: -1px;
  mix-blend-mode: normal;
  position: relative;
  text-align: right;
  white-space: nowrap;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #858584;
  margin-right: 10px;
}
.topRated__item-subtitle {
  position: relative;
}
.topRated__item-subtitle-number {
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #858584;
  background-color: #2B2B2B;
  border-radius: 20px;
  padding: 4px 10px;
  position: absolute;
  top: -220px;
  left: 20px;
}

.categories {
  padding: 80px 0px;
}
.categories__items {
  margin-top: 60px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}
.categories__item {
  background: #3B3B3B;
  border-radius: 20px;
  transition: all 0.3s ease;
  cursor: pointer;
}
.categories__item:hover {
  transform: scale(0.95);
}
.categories__item-icons {
  align-self: stretch;
  height: 240px;
  min-width: 240px;
  position: relative;
}
.categories__item-icons .iconsblur {
  width: 240px;
  height: 240px;
  position: absolute;
  top: 0px;
  left: 0px;
}
.categories__item-icons .iconsblur img {
  border-radius: 20px 20px 0px 0px;
}
.categories__item-icons .iconssmall {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
  height: 240px;
  width: 240px;
  position: absolute;
  left: 0px;
  top: 0px;
  border-radius: 20px 20px 0px 0px;
}
.categories__item-icons .iconssmall img {
  cursor: pointer;
  height: 100px;
  min-width: 100px;
  position: relative;
}
.categories__item-title h5 {
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 140%;
  text-transform: capitalize;
  color: #FFFFFF;
  padding: 20px 30px 25px;
}

.discover {
  padding: 80px 0px;
}
.discover__items {
  margin-top: 60px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.discover__item {
  width: 330px;
  background: #3B3B3B;
  border-radius: 20px;
  transition: all 0.3s ease;
}
.discover__item:hover {
  transform: scale(0.95);
}
.discover__item img {
  width: 330px;
  border-radius: 21px 21px 0 0;
}
.discover__item h4 {
  font-weight: 600;
  font-size: 22px;
  line-height: 140%;
  text-transform: capitalize;
  color: #FFFFFF;
  margin-bottom: 10px;
}
.discover__item-title {
  padding: 20px 30px 25px;
}
.discover__item-subTitle {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 12px;
  margin-bottom: 25px;
}
.discover__item-subTitle img {
  width: 24px;
}
.discover__item-subTitle span {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #FFFFFF;
}
.discover__item-price {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 400;
}
.discover__item-price span {
  font-size: 12px;
  line-height: 110%;
  color: #858584;
  margin-bottom: 10px;
}
.discover__item-price p {
  font-size: 16px;
  line-height: 140%;
  color: #FFFFFF;
}
.discover__item-price .right {
  text-align: right;
}
.discover__item-price .left {
  text-align: left;
}

.nft-highlight {
  align-items: center;
  background: url(../img/home/gribochik.jpg);
  background-position: 50% 50%;
  background-size: cover;
}
.nft-items {
  background: linear-gradient(180deg, rgba(162, 89, 255, 0) 0%, rgb(162, 89, 255) 100%);
  padding: 360px 195px 60px;
}
.nft-item {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
.nft-item .left button {
  width: 198px;
  height: 60px;
  background: #A259FF;
  border-radius: 20px;
  outline: none;
  border: none;
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
  text-align: center;
  color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  transition: all 0.3s ease;
  background-color: #fff;
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
  text-align: center;
  color: #2B2B2B;
}
.nft-item .left button:hover {
  transform: scale(0.95);
}
.nft-item .left button img {
  width: 20px;
}
.nft-item .left-title {
  cursor: pointer;
  width: 151px;
  height: 44px;
  background: #3B3B3B;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #FFFFFF;
  margin-bottom: 41px;
}
.nft-item .left h2 {
  font-weight: 600;
  font-size: 51px;
  line-height: 110%;
  text-transform: capitalize;
  color: #FFFFFF;
  margin-bottom: 30px;
}
.nft-item .right {
  background: rgba(59, 59, 59, 0.5);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  border-radius: 20px;
  padding: 30px;
}
.nft-item .right-subtitle {
  font-weight: 400;
  font-size: 12px;
  line-height: 110%;
  color: #FFFFFF;
}
.nft-item .right .icons {
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 140%;
  color: #FFFFFF;
  margin-top: 6px;
}
.nft-item .right-title {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  text-align: center;
  gap: 10px;
}
.nft-item .right-title p {
  font-weight: 400;
  font-size: 12px;
  line-height: 110%;
  color: #FFFFFF;
}
.nft-item .right-title span {
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 700;
  font-size: 38px;
  color: #FFFFFF;
}

.how-it-work {
  padding: 40px 0px 80px 0px;
}
.how-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}
.how-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 30px 30px;
  gap: 10px;
  width: 330px;
  height: 439px;
  background: #3B3B3B;
  border-radius: 20px;
}
.how-item h4 {
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 140%;
  text-align: center;
  text-transform: capitalize;
  color: #FFFFFF;
}
.how-item p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  text-align: center;
  color: #FFFFFF;
}

.subscribe {
  padding: 40px 0px 80px;
}
.subscribe__items {
  background: #3B3B3B;
  border-radius: 20px;
  padding: 60px;
}
.subscribe__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.subscribe__item .right img {
  border-radius: 22px;
  background-color: transparent;
  height: 310px;
  min-width: 425px;
}
.subscribe__item .left h3 {
  font-style: normal;
  font-weight: 600;
  font-size: 38px;
  line-height: 120%;
  text-transform: capitalize;
  color: #FFFFFF;
  margin-bottom: 10px;
  max-width: 425px;
}
.subscribe__item .left p {
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 160%;
  text-transform: capitalize;
  color: #FFFFFF;
  margin-bottom: 40px;
  max-width: 425px;
}
.subscribe__item .left-input {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
}
.subscribe__item .left-input input {
  padding: 18px 214px 19px 20px;
  background: #FFFFFF;
  border-radius: 20px;
  border: none;
  outline: none;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #2B2B2B;
  position: relative;
}
.subscribe__item .left-input button {
  width: 211px;
  height: 60px;
  background: #A259FF;
  border-radius: 20px;
  outline: none;
  border: none;
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
  text-align: center;
  color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  transition: all 0.3s ease;
  height: 60px;
  position: absolute;
  left: 218px;
}
.subscribe__item .left-input button:hover {
  transform: scale(0.95);
}
.subscribe__item .left-input button img {
  width: 20px;
}

.container {
  max-width: 1050px;
  margin: 0 auto;
}

html,
body {
  background-color: #2B2B2B;
  position: relative;
  width: 100%;
  padding: 0;
  margin: 0;
  border: 0;
  font-family: "Work Sans";
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

nav,
header {
  display: block;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: #000;
}

img {
  cursor: pointer;
}

ul {
  list-style-type: none;
  padding: 0;
}

hr,
body,
ul,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0 auto;
}

.col-6 {
  width: 50%;
}

.col-5 {
  width: 41.12%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33%;
}

.title h2 {
  font-style: normal;
  font-weight: 600;
  font-size: 38px;
  line-height: 120%;
  text-transform: capitalize;
  color: #FFFFFF;
  margin-bottom: 10px;
}
.title p {
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 160%;
  text-transform: capitalize;
  color: #FFFFFF;
  margin-bottom: 60px;
}

.title__button {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.title__button button {
  width: 247px;
  height: 60px;
  background: #A259FF;
  border-radius: 20px;
  outline: none;
  border: none;
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
  text-align: center;
  color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  transition: all 0.3s ease;
  background: none;
  border: 2px solid #A259FF;
}
.title__button button:hover {
  transform: scale(0.95);
}
.title__button button img {
  width: 20px;
}
.title__button p {
  margin-bottom: 0;
}
.title__button .buttonSmall {
  width: 187px;
  height: 60px;
  background: #A259FF;
  border-radius: 20px;
  outline: none;
  border: none;
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
  text-align: center;
  color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  transition: all 0.3s ease;
  background: none;
  border: 2px solid #A259FF;
}
.title__button .buttonSmall:hover {
  transform: scale(0.95);
}
.title__button .buttonSmall img {
  width: 20px;
}/*# sourceMappingURL=index.css.map */