// @import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600;700&display=swap')
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&family=Work+Sans:wght@400;600;700&display=swap')
@import './helpers/variables'
@import './helpers/mixins'

@import './components/header'
@import './sections/_hero'
@import './sections/_trending'
@import './sections/_topRated'
@import './sections/_categories'
@import './sections/_discover'
@import './sections/_nft'

.container
    max-width: 1050px
    margin: 0 auto

html,
body
    background-color: $bg-body
    position: relative
    width: 100%
    padding: 0
    margin: 0
    border: 0
    // overflow: hidden
    font-family: 'Work Sans'

*,
*:before,
*:after
    box-sizing: border-box

nav,
header
    display: block

button
    cursor: pointer

a
    text-decoration: none
    color: #000

img
    cursor: pointer
ul
    list-style-type: none
    padding: 0

hr,
body,
ul,
h1,
h2,
h3,
h4,
h5,
h6,
p
    margin: 0 auto
//     font-weight: 700

.col-6
    width: 50%

.col-5
    width: 41.12%

.col-3
    width: 25%

.col-4
    width: 33.33%

.title
    h2
        font-style: normal
        font-weight: 600
        font-size: 38px
        line-height: 120%
        text-transform: capitalize
        color: #FFFFFF
        margin-bottom: 10px
    p
        font-style: normal
        font-weight: 400
        font-size: 22px
        line-height: 160%
        text-transform: capitalize
        color: #FFFFFF
        margin-bottom: 60px

.title__button
    display: flex
    justify-content: space-between
    align-items: flex-end
    button
        @include button(247px)
        background: none
        border: 2px solid #A259FF
    p
        margin-bottom: 0
    .buttonSmall
        @include button(187px)
        background: none
        border: 2px solid #A259FF

