@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&family=Work+Sans:wght@400;600;700&display=swap");
.wrapper {
  height: 100%;
  width: 100%;
}

.header {
  width: 100%;
  padding: 20px 50px;
}
.header__body {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__logo img {
  min-width: 243px;
}
.header__burger {
  display: none;
}
.header__menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}
.header__menu ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
}
.header__menu ul li a {
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
  text-align: center;
  color: #FFFFFF;
  padding: 0px 20px;
}
.header__menu .header__button {
  width: 152px;
  height: 60px;
  background: #A259FF;
  border-radius: 20px;
  outline: none;
  border: none;
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
  text-align: center;
  color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  transition: all 0.3s ease;
}
.header__menu .header__button:hover {
  transform: scale(0.95);
}
.header__menu .header__button img {
  width: 20px;
}

.hero {
  padding: 80px 0px;
}
.hero__items {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.hero__items .activeButton {
  display: none;
}
.hero__right {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  height: auto;
}
.hero__right button {
  width: 224px;
  height: 60px;
  background: #A259FF;
  border-radius: 20px;
  outline: none;
  border: none;
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
  text-align: center;
  color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  transition: all 0.3s ease;
  margin-bottom: 30px;
}
.hero__right button:hover {
  transform: scale(0.95);
}
.hero__right button img {
  width: 20px;
}
.hero__right h1 {
  font-weight: 600;
  font-size: 67px;
  line-height: 110%;
  color: #FFFFFF;
  width: 500px;
  margin: 0px 0px 20px;
}
.hero__right p {
  font-weight: 400;
  font-size: 22px;
  line-height: 160%;
  text-transform: capitalize;
  color: #FFFFFF;
  width: 510px;
  margin-bottom: 30px;
}
.hero__right-title {
  display: flex;
  align-items: center;
  gap: 60px;
}
.hero__right-title h3 {
  font-weight: 700;
  font-size: 28px;
  line-height: 140%;
  display: flex;
  align-items: center;
  text-transform: capitalize;
  color: #FFFFFF;
  align-self: stretch;
  font-family: "Space Mono";
}
.hero__right-title span {
  font-weight: 400;
  font-size: 23.99px;
  line-height: 160%;
  text-transform: capitalize;
  color: #FFFFFF;
}
.hero__left {
  width: 510px;
  background: #3B3B3B;
  border-radius: 20px;
  transition: all 0.3s ease;
}
.hero__left:hover {
  transform: scale(0.95);
}
.hero__left img {
  width: 510px;
}
.hero__left h4 {
  font-weight: 600;
  font-size: 22px;
  line-height: 140%;
  text-transform: capitalize;
  color: #FFFFFF;
  margin-bottom: 10px;
}
.hero__left-items {
  margin: 22px 20px;
}
.hero__left-title {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 12px;
}
.hero__left-title img {
  width: 24px;
}
.hero__left-title span {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #FFFFFF;
}

.trending {
  padding: 80px 0px;
}
.trending__items {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.trending__items p {
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 140%;
  text-transform: capitalize;
  color: #FFFFFF;
  margin-bottom: 10px;
}
.trending__item img {
  width: 330px;
  margin-bottom: 15px;
  transition: all 0.3s ease;
}
.trending__item img:hover {
  transform: scale(0.95);
}
.trending__item-images {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 15px;
}
.trending__item-images img {
  width: 100px;
}
.trending__item-images span {
  font-family: "Space Mono";
  background: #A259FF;
  border-radius: 20px;
  padding: 32.5px 16px;
  font-weight: 700;
  font-size: 22px;
  line-height: 160%;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: capitalize;
  color: #FFFFFF;
  transition: all 0.3s ease;
  cursor: pointer;
}
.trending__item-images span:hover {
  transform: scale(0.95);
}
.trending__item-title {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 12px;
}
.trending__item-title img {
  width: 24px;
  height: 24px;
}
.trending__item-title span {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #FFFFFF;
}

.topRated {
  padding: 80px 0 50px;
}
.topRated__items {
  padding-top: 60px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.topRated__item {
  margin-bottom: 30px;
  transition: all 0.3s ease;
}
.topRated__item:hover {
  transform: scale(0.95);
}
.topRated__item-avatar {
  align-items: center;
  background-color: #3B3B3B;
  border-radius: 20px;
  cursor: pointer;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
  height: auto;
  padding: 20px;
  pointer-events: auto;
  width: 240px;
}
.topRated__item-avatar img {
  height: auto;
  width: -moz-fit-content;
  width: fit-content;
  margin-bottom: 20px;
}
.topRated__item-title h3 {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0px;
  margin-top: -1px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 140%;
  color: #FFFFFF;
  margin-bottom: 5px;
}
.topRated__item-title p {
  flex: 1;
  margin-top: -1px;
  mix-blend-mode: normal;
  position: relative;
  white-space: nowrap;
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #FFFFFF;
}
.topRated__item-title span {
  font-family: "Work Sans";
  flex: 1;
  margin-top: -1px;
  mix-blend-mode: normal;
  position: relative;
  text-align: right;
  white-space: nowrap;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #858584;
  margin-right: 10px;
}
.topRated__item-subtitle {
  position: relative;
}
.topRated__item-subtitle-number {
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #858584;
  background-color: #2B2B2B;
  border-radius: 20px;
  padding: 4px 10px;
  position: absolute;
  top: -220px;
  left: 20px;
}

.categories {
  padding: 80px 0px;
}
.categories__items {
  margin-top: 60px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}
.categories__item {
  background: #3B3B3B;
  border-radius: 20px;
  transition: all 0.3s ease;
  cursor: pointer;
}
.categories__item:hover {
  transform: scale(0.95);
}
.categories__item-icons {
  align-self: stretch;
  height: 240px;
  width: 240px;
  position: relative;
}
.categories__item-icons .iconsblur {
  width: 240px;
  height: 240px;
  position: absolute;
  top: 0px;
  left: 0px;
}
.categories__item-icons .iconsblur img {
  border-radius: 20px 20px 0px 0px;
}
.categories__item-icons .iconssmall {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
  height: 240px;
  width: 240px;
  position: absolute;
  left: 0px;
  top: 0px;
  border-radius: 20px 20px 0px 0px;
}
.categories__item-icons .iconssmall img {
  cursor: pointer;
  height: 100px;
  min-width: 100px;
  position: relative;
}
.categories__item-title h5 {
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 140%;
  text-transform: capitalize;
  color: #FFFFFF;
  padding: 20px 30px 25px;
}

.discover {
  padding: 80px 0px;
}
.discover__items {
  padding-top: 60px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.discover__item {
  width: 330px;
  background: #3B3B3B;
  border-radius: 20px;
  transition: all 0.3s ease;
}
.discover__item:hover {
  transform: scale(0.95);
}
.discover__item img {
  width: 330px;
  border-radius: 21px 21px 0 0;
}
.discover__item h4 {
  font-weight: 600;
  font-size: 22px;
  line-height: 140%;
  text-transform: capitalize;
  color: #FFFFFF;
  margin-bottom: 10px;
}
.discover__item-title {
  padding: 20px 30px 25px;
}
.discover__item-subTitle {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 12px;
  margin-bottom: 25px;
}
.discover__item-subTitle img {
  width: 24px;
}
.discover__item-subTitle span {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #FFFFFF;
}
.discover__item-price {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 400;
}
.discover__item-price span {
  font-size: 12px;
  line-height: 110%;
  color: #858584;
  margin-bottom: 10px;
}
.discover__item-price p {
  font-size: 16px;
  line-height: 140%;
  color: #FFFFFF;
}
.discover__item-price .right {
  text-align: right;
}
.discover__item-price .left {
  text-align: left;
}

.nft-highlight {
  align-items: center;
  background: url(../img/home/gribochik.jpg);
  background-position: 50% 50%;
  background-size: cover;
}
.nft-items {
  background: linear-gradient(180deg, rgba(162, 89, 255, 0) 0%, rgb(162, 89, 255) 100%);
  padding: 360px 195px 60px;
}
.nft-item {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
.nft-item .active {
  display: none;
}
.nft-item .left .non button {
  width: 198px;
  height: 60px;
  background: #A259FF;
  border-radius: 20px;
  outline: none;
  border: none;
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
  text-align: center;
  color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  transition: all 0.3s ease;
  background-color: #fff;
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
  text-align: center;
  color: #2B2B2B;
}
.nft-item .left .non button:hover {
  transform: scale(0.95);
}
.nft-item .left .non button img {
  width: 20px;
}
.nft-item .left-title {
  cursor: pointer;
  width: 151px;
  height: 44px;
  background: #3B3B3B;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #FFFFFF;
  margin-bottom: 41px;
}
.nft-item .left h2 {
  font-weight: 600;
  font-size: 51px;
  line-height: 110%;
  text-transform: capitalize;
  color: #FFFFFF;
  margin-bottom: 30px;
}
.nft-item .right {
  background: rgba(59, 59, 59, 0.5);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  border-radius: 20px;
  padding: 30px;
}
.nft-item .right-subtitle {
  font-weight: 400;
  font-size: 12px;
  line-height: 110%;
  color: #FFFFFF;
}
.nft-item .right .icons {
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 140%;
  color: #FFFFFF;
  margin-top: 6px;
}
.nft-item .right-title {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  text-align: center;
  gap: 10px;
}
.nft-item .right-title p {
  font-weight: 400;
  font-size: 12px;
  line-height: 110%;
  color: #FFFFFF;
}
.nft-item .right-title span {
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 700;
  font-size: 38px;
  color: #FFFFFF;
}

.how-it-work {
  padding: 40px 0px 80px 0px;
}
.how-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}
.how-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 30px 30px;
  gap: 10px;
  width: 330px;
  height: 439px;
  background: #3B3B3B;
  border-radius: 20px;
}
.how-item h4 {
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 140%;
  text-align: center;
  text-transform: capitalize;
  color: #FFFFFF;
  margin-bottom: 10px;
}
.how-item p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  text-align: center;
  color: #FFFFFF;
}

.subscribe {
  padding: 40px 0px 80px;
}
.subscribe__items {
  background: #3B3B3B;
  border-radius: 20px;
  padding: 60px;
}
.subscribe__item {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}
.subscribe__item .right img {
  border-radius: 22px;
  background-color: transparent;
  height: 310px;
  max-width: 425px;
}
.subscribe__item .left h3 {
  font-style: normal;
  font-weight: 600;
  font-size: 38px;
  line-height: 120%;
  text-transform: capitalize;
  color: #FFFFFF;
  margin-bottom: 10px;
  max-width: 425px;
}
.subscribe__item .left p {
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 160%;
  text-transform: capitalize;
  color: #FFFFFF;
  margin-bottom: 40px;
  max-width: 425px;
}

.footer {
  padding: 48px 0px 40px;
  background: #3B3B3B;
}
.footer hr {
  border: none;
  color: #858584;
  background-color: #858584;
  height: 1px;
}
.footer-title {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 110%;
  color: #CCCCCC;
  text-align: start;
  margin: 20px 0px 0px;
}
.footer__items {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding-bottom: 37px;
}
.footer__item .logos {
  max-width: 243px;
  margin-bottom: 25px;
}
.footer__item ul li {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #CCCCCC;
  max-width: 238px;
  margin-bottom: 20px;
}
.footer__item h5 {
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 160%;
  text-transform: capitalize;
  color: #FFFFFF;
  margin-bottom: 25px;
}
.footer__item p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #CCCCCC;
  max-width: 330px;
  text-align: start;
  margin: 0px 0px 20px;
}
.footer__icons {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 13px;
}

.account {
  display: flex;
  align-items: center;
  gap: 60px;
  align-self: stretch;
  height: auto;
  position: relative;
}
.account__img {
  align-self: stretch;
  flex: 1;
  height: 691px;
  min-width: 610px;
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
}
.account__list {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  padding: 100px 0px;
  gap: 40px;
  position: relative;
  flex: 1;
}
.account__title {
  width: 460px;
}
.account__title h2 {
  font-weight: 600;
  font-size: 51px;
  line-height: 110%;
  color: #FFFFFF;
  margin-bottom: 20px;
}
.account__title p {
  font-weight: 400;
  font-size: 22px;
  line-height: 160%;
  color: #FFFFFF;
}
.account__forms {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
}
.account__forms button {
  width: 330px;
  height: 46px;
  background: #A259FF;
  border-radius: 20px;
  outline: none;
  border: none;
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
  text-align: center;
  color: #FFFFFF;
  transition: all 0.3s ease;
}
.account__forms button:hover {
  transform: scale(0.95);
}
.account__form {
  align-items: center;
  border: 1px solid #858584;
  background: #FFFFFF;
  border-radius: 20px;
  display: flex;
  gap: 12px;
  height: 46px;
  padding: 12px 20px;
  position: relative;
}
.account__form input {
  border: none;
  outline: none;
  flex: 1;
  height: 22px;
  letter-spacing: 0px;
  line-height: 22.4px;
  min-width: 258px;
  padding: 0;
  position: relative;
  resize: none;
  text-align: left;
}

@media screen and (max-width: 1185px) {
  .account {
    gap: 40px;
    height: auto;
    padding: 0px 50px 0px 0px;
  }
  .account__img {
    min-width: 397px;
  }
}
@media screen and (max-width: 880px) {
  .account {
    padding: 0px 50px 0px 0px;
  }
  .account__img {
    min-width: 380px;
  }
  .account__title {
    width: 325px;
  }
  .account__title h2 {
    font-size: 38px;
    line-height: 120%;
  }
  .account__title p {
    font-size: 16px;
    line-height: 140%;
  }
}
@media screen and (max-width: 772px) {
  .account {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
    padding: 30px 0px 40px;
  }
  .account__img {
    min-width: 375px;
    max-height: 232px;
  }
  .account__list {
    padding: 0px;
  }
}
.wallet {
  display: flex;
  align-items: center;
  gap: 60px;
  align-self: stretch;
  height: auto;
  position: relative;
}
.wallet__img {
  align-self: stretch;
  flex: 1;
  height: auto;
  min-width: 610px;
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
}
.wallet__list {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  padding: 100px 0px;
  gap: 40px;
  position: relative;
  flex: 1;
}
.wallet__title {
  width: 460px;
}
.wallet__title h2 {
  font-weight: 600;
  font-size: 51px;
  line-height: 110%;
  color: #FFFFFF;
  margin-bottom: 20px;
}
.wallet__title p {
  font-weight: 400;
  font-size: 22px;
  line-height: 160%;
  color: #FFFFFF;
}
.wallet__forms {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}
.wallet__forms button {
  width: 320px;
  height: 46px;
  background: #A259FF;
  border-radius: 20px;
  outline: none;
  border: none;
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
  text-align: center;
  color: #FFFFFF;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  gap: 20px;
  height: 72px;
  font-size: 22px;
  background: #3B3B3B;
  border: 1px solid #A259FF;
  padding: 0px 20px 0px 40px;
}
.wallet__forms button:hover {
  transform: scale(0.95);
}

@media screen and (max-width: 1185px) {
  .wallet {
    gap: 40px;
    height: auto;
    padding: 0px 50px 0px 0px;
  }
  .wallet__img {
    min-width: 397px;
  }
}
@media screen and (max-width: 880px) {
  .wallet {
    padding: 0px 50px 0px 0px;
  }
  .wallet__img {
    min-width: 380px;
  }
  .wallet__title {
    width: 325px;
  }
  .wallet__title h2 {
    font-size: 38px;
    line-height: 120%;
  }
  .wallet__title p {
    font-size: 16px;
    line-height: 140%;
  }
  .wallet__forms button {
    height: 60px;
    font-size: 22px;
    background: #3B3B3B;
    border: 1px solid #A259FF;
    padding: 0px 20px 0px 40px;
  }
  .wallet__forms button img {
    width: 32px;
  }
}
@media screen and (max-width: 772px) {
  .wallet {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
    padding: 30px 0px 40px;
  }
  .wallet__img {
    min-width: 375px;
    max-height: 232px;
  }
  .wallet__list {
    padding: 0px;
  }
}
.marketplace {
  padding: 80px 0;
}
.marketplace__input input {
  border-radius: 20px;
  border: 1px solid #3B3B3B;
  background: url("../img/home/search.png") no-repeat;
  background-position: right 20px center;
  width: 100%;
  outline: none;
  padding: 12px 20px;
  height: 60px;
  color: #858584;
  font-size: 16px;
  line-height: 140%;
  margin-bottom: 80px;
}
.marketplace__sorts {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  gap: 10px;
}
.marketplace__sort {
  display: flex;
  align-items: center;
  gap: 16px;
  border-bottom: 2px solid #3B3B3B;
  flex: 1;
  height: 70px;
  padding: 0px 30px;
  position: relative;
  justify-content: center;
}
.marketplace__sort:last-child {
  border: none;
}
.marketplace__sort h4 {
  color: #FFF;
  text-align: center;
  font-size: 22px;
  font-family: Work Sans;
  font-weight: 600;
  line-height: 140%;
  margin: 0;
}
.marketplace__sort span {
  color: #FFF;
  font-size: 16px;
  font-family: Space Mono;
  line-height: 140%;
  border-radius: 20px;
  background: #858584;
  padding: 5px 10px;
}
.marketplace__items {
  gap: 30px;
}

@media screen and (max-width: 437px) {
  .marketplace__item:nth-last-child(-n+4) {
    display: none;
  }
  .marketplace__sorts {
    padding: 0px 30px;
  }
  .marketplace__sort h4 {
    font-size: 16px;
  }
  .marketplace__sort span {
    display: none;
  }
  .marketplace__input {
    padding: 0px 30px;
  }
}
@media (min-width: 440px) and (max-width: 1120px) {
  .marketplace__item:nth-last-child(-n+4) {
    display: none;
  }
}
@media screen and (max-width: 772px) {
  .marketplace__item:nth-last-child(-n+4) {
    display: none;
  }
  .marketplace__sort h4 {
    font-size: 16px;
  }
  .marketplace__sort span {
    display: none;
  }
}
@media screen and (max-width: 1185px) {
  .nft-item {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
  }
  .nft-item .left h2 {
    font-size: 38px;
  }
}
@media screen and (max-width: 530px) {
  .header {
    padding: 15px 30px;
  }
  .header__logo img {
    min-width: 130px;
  }
  .header__body {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .header__menu {
    z-index: 2;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    transform: translateX(-100%);
    background-color: #333333;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px;
    overflow: hidden;
  }
  .header__menu ul {
    display: block;
  }
  .header__menu ul li {
    margin: 0 0 50px 0;
  }
  .header__menu button {
    display: block;
    margin-top: -170px;
  }
  .header ._active {
    transform: translateX(0);
  }
  .header__burger {
    display: block;
    position: relative;
    width: 30px;
    height: 30px;
    z-index: 4;
    top: 0;
    right: 0;
    margin: 20px 0;
  }
  .header__burger span {
    background-color: #FFFFFF;
    position: absolute;
    width: 100%;
    height: 2.5px;
    left: 0;
    top: 15px;
  }
  .header__burger::before, .header__burger::after {
    content: " ";
    background-color: #FFFFFF;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    transition: all 0.3s;
  }
  .header__burger::before {
    top: 0;
  }
  .header__burger::after {
    bottom: 0;
  }
  .header__burger span {
    top: 50%;
    transform: scale(1) translate(0px, -50%);
  }
  .header__burger._active {
    margin-right: 8px;
    margin-top: 20px;
    transform: translateX(0);
  }
  .header__burger._active span {
    transform: scale(0) translate(0px, -50%);
  }
  .header__burger._active::before {
    top: 50%;
    transform: rotate(-45deg) translate(0px, -50%);
  }
  .header__burger._active::after {
    bottom: 50%;
    transform: rotate(45deg) translate(0px, 50%);
  }
  .trending__item img {
    width: 315px;
  }
  .trending__item-images img {
    width: 90px;
    height: 90px;
  }
  .trending__item-title img {
    width: 24px;
    height: 24px;
  }
  .trending__item span {
    border-radius: 20px;
    padding: 32.2px 15px;
    font-size: 16px;
  }
  .footer__items {
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    gap: 30px;
  }
  .footer__item ul li {
    max-width: 315px;
  }
  .footer__item p {
    max-width: 315px;
  }
  .footer__icons img {
    width: 32px;
  }
}
@media screen and (max-width: 437px) {
  .container {
    padding: 0px;
  }
  .header__logo img {
    max-width: 190px;
    padding-top: 5px;
  }
  .header__body {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .header__menu {
    z-index: 2;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    transform: translateX(-100%);
    background-color: #333333;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 10px;
    overflow: hidden;
  }
  .header__menu ul {
    margin: 120px 20px;
  }
  .header__menu ul li {
    margin: 0 0 50px 0;
  }
  .header__menu button {
    display: block;
    margin: -140px 40px 0px;
  }
  .header ._active {
    transform: translateX(0);
  }
  .header__burger {
    display: block;
    position: relative;
    width: 30px;
    height: 30px;
    z-index: 4;
    top: 0;
    right: 0;
    margin: 20px 0;
  }
  .header__burger span {
    background-color: #FFFFFF;
    position: absolute;
    width: 100%;
    height: 2.5px;
    left: 0;
    top: 15px;
  }
  .header__burger::before, .header__burger::after {
    content: " ";
    background-color: #FFFFFF;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    transition: all 0.3s;
  }
  .header__burger::before {
    top: 0;
  }
  .header__burger::after {
    bottom: 0;
  }
  .header__burger span {
    top: 50%;
    transform: scale(1) translate(0px, -50%);
  }
  .header__burger._active {
    margin-right: 8px;
    margin-top: 20px;
    transform: translateX(0);
  }
  .header__burger._active span {
    transform: scale(0) translate(0px, -50%);
  }
  .header__burger._active::before {
    top: 50%;
    transform: rotate(-45deg) translate(0px, -50%);
  }
  .header__burger._active::after {
    bottom: 50%;
    transform: rotate(45deg) translate(0px, 50%);
  }
  .hero {
    padding: 40px 0px;
  }
  .hero__items {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }
  .hero__right {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    height: auto;
    width: 330px;
  }
  .hero__right h1 {
    font-size: 38px;
    width: 330px;
  }
  .hero__right p {
    font-size: 16px;
    line-height: 140%;
    color: #FFFFFF;
    width: 330px;
    margin: 0 0 20px;
  }
  .hero__right-title {
    gap: 30px;
  }
  .hero__right-title h3 {
    font-size: 22px;
  }
  .hero__right-title span {
    font-size: 16px;
  }
  .hero__left {
    width: 330px;
  }
  .hero__left img {
    width: 330px;
  }
  .hero__left-items {
    margin: 22px 20px;
  }
  .hero__left-title {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 12px;
  }
  .hero__left-title img {
    width: 24px;
  }
  .hero__left-title span {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #FFFFFF;
  }
  .title h2 {
    font-size: 28px;
  }
  .title p {
    font-size: 16px;
  }
  .title__button h2 {
    font-size: 28px;
  }
  .title__button p {
    font-size: 16px;
  }
  .trending {
    padding: 40px 0px;
  }
  .trending__items {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
  }
  .trending__items p {
    font-size: 22px;
  }
  .trending__item:last-child {
    display: none;
  }
  .topRated__items {
    gap: 10px;
  }
  .categories {
    padding: 40px 0px;
  }
  .categories__items {
    padding-top: 40px;
    display: flexbox;
    align-items: center;
    justify-content: space-between;
  }
  .categories__item {
    width: 148px;
  }
  .categories__item-icons {
    width: 148px;
    height: 142px;
  }
  .categories__item-icons .iconsblur {
    width: 148px;
    height: 142px;
  }
  .categories__item-icons .iconsblur img {
    width: 148px;
    height: 142px;
  }
  .categories__item-icons .iconssmall {
    width: 148px;
    height: 142px;
  }
  .categories__item-icons .iconssmall img {
    height: 80px;
    min-width: 80px;
  }
  .categories__item-title h5 {
    font-size: 16px;
    padding: 20px 35px 25px;
  }
  .discover__items {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    gap: 20px;
  }
  .discover__item:last-child {
    display: none;
  }
  .nft-items {
    padding: 360px 40px 60px;
  }
  .nft-item {
    gap: 30px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
  }
  .nft-item .left h2 {
    font-size: 38px;
  }
  .how-it-work {
    padding: 40px 0px;
  }
  .how-item {
    padding: 10px 20px 30px;
    height: 340px;
  }
  .how-item img {
    width: 160px;
  }
  .how-item h4 {
    font-size: 16px;
  }
  .how-item p {
    font-size: 12px;
    width: 170px;
  }
  .subscribe__items {
    padding: 40px 30px;
  }
  .subscribe__item {
    justify-content: space-around;
  }
  .subscribe__item .right img {
    height: 100%;
    max-width: 280px;
  }
  .subscribe__item .left h3 {
    font-size: 28px;
  }
  .subscribe__item .left p {
    font-size: 16px;
    width: 300px;
    text-align: start;
    margin: 0px 0px 40px;
  }
  .subscribe__item .left .inputWithButton {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    position: relative;
  }
  .subscribe__item .left .inputWithButton input {
    width: 318px;
    padding: 16px 20px;
    height: 46px;
  }
  .subscribe__item .left .inputWithButton button {
    width: 318px;
    height: 60px;
    background: #A259FF;
    border-radius: 20px;
    outline: none;
    border: none;
    font-weight: 600;
    font-size: 16px;
    line-height: 140%;
    text-align: center;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    transition: all 0.3s ease;
    height: 46px;
    position: relative;
    top: 16px;
    right: 0;
    left: 0;
  }
  .subscribe__item .left .inputWithButton button:hover {
    transform: scale(0.95);
  }
  .subscribe__item .left .inputWithButton button img {
    width: 20px;
  }
  .titles {
    padding: 0px 30px;
  }
  .titles h2 {
    font-size: 28px;
  }
  .titles p {
    font-size: 16px;
  }
}
@media screen and (max-width: 822px) {
  .subscribe__item {
    gap: 30px;
  }
  .subscribe__item .right img {
    max-width: 299px;
  }
  .subscribe__item .right h3 {
    width: 300px;
  }
}
@media (min-width: 532px) and (max-width: 974px) {
  .topRated__items {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
  }
  .topRated__item:nth-last-child(-n+6) {
    display: none;
  }
  .topRated__item-avatar {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    flex-direction: row;
    flex: 1;
    width: 330px;
  }
  .topRated__item-avatar img {
    width: 60px;
    margin: 0 auto;
  }
  .topRated__item-title {
    margin-left: 20px;
  }
  .topRated__item-title h3 {
    margin: 0;
    text-align: start;
  }
  .topRated__item-title p {
    font-size: 12px;
  }
  .topRated__item-subtitle {
    position: relative;
  }
  .topRated__item-subtitle-number {
    position: absolute;
    top: -99px;
    left: 17px;
  }
  .header__body {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .header__logo img {
    min-width: 180px;
  }
  .header__menu {
    z-index: 2;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    transform: translateX(-100%);
    background-color: #333333;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 120px;
    overflow: hidden;
  }
  .header__menu ul {
    display: block;
  }
  .header__menu ul li {
    margin: 0 0 50px 0;
  }
  .header__menu button {
    display: block;
    margin-top: -100px;
  }
  .header ._active {
    transform: translateX(0);
  }
  .header__burger {
    display: block;
    position: relative;
    width: 30px;
    height: 30px;
    z-index: 4;
    top: 0;
    right: 0;
    margin: 20px 0;
  }
  .header__burger span {
    background-color: #FFFFFF;
    position: absolute;
    width: 100%;
    height: 2.5px;
    left: 0;
    top: 15px;
  }
  .header__burger::before, .header__burger::after {
    content: " ";
    background-color: #FFFFFF;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    transition: all 0.3s;
  }
  .header__burger::before {
    top: 0;
  }
  .header__burger::after {
    bottom: 0;
  }
  .header__burger span {
    top: 50%;
    transform: scale(1) translate(0px, -50%);
  }
  .header__burger._active {
    margin-right: 20px;
    margin-top: 20px;
    transform: translateX(0);
  }
  .header__burger._active span {
    transform: scale(0) translate(0px, -50%);
  }
  .header__burger._active::before {
    top: 50%;
    transform: rotate(-45deg) translate(0px, -50%);
  }
  .header__burger._active::after {
    bottom: 50%;
    transform: rotate(45deg) translate(0px, 50%);
  }
  .footer {
    padding: 40px 0px;
  }
  .footer__items {
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    gap: 30px;
  }
  .footer__item ul li {
    max-width: 100%;
  }
  .footer__item p {
    max-width: 100%;
  }
}
@media (min-width: 440px) and (max-width: 1120px) {
  .container {
    width: 100%;
    padding: 0px 40px;
  }
  .hero__items {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }
  .hero__right {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    height: auto;
    width: 330px;
  }
  .hero__right h1 {
    font-size: 38px;
    width: 330px;
  }
  .hero__right p {
    font-size: 16px;
    line-height: 140%;
    color: #FFFFFF;
    width: 330px;
    margin: 0 0 20px;
  }
  .hero__right-title {
    gap: 30px;
  }
  .hero__right-title h3 {
    font-size: 22px;
  }
  .hero__right-title span {
    font-size: 16px;
  }
  .hero__left {
    width: 330px;
  }
  .hero__left img {
    width: 330px;
  }
  .hero__left-items {
    margin: 22px 20px;
  }
  .hero__left-title {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 12px;
  }
  .hero__left-title img {
    width: 24px;
  }
  .hero__left-title span {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #FFFFFF;
  }
  .title h2 {
    font-size: 28px;
  }
  .title p {
    font-size: 16px;
  }
  .title__button h2 {
    font-size: 28px;
  }
  .title__button p {
    font-size: 16px;
  }
  .trending {
    padding: 40px 0px;
  }
  .trending__items {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
  }
  .trending__items p {
    font-size: 22px;
  }
  .trending__item:last-child {
    display: none;
  }
  .topRated__items {
    gap: 10px;
  }
  .categories {
    padding: 40px 0px;
  }
  .categories__items {
    padding-top: 40px;
    display: flexbox;
    align-items: center;
    justify-content: space-between;
  }
  .categories__item {
    width: 148px;
  }
  .categories__item-icons {
    width: 148px;
    height: 142px;
  }
  .categories__item-icons .iconsblur {
    width: 148px;
    height: 142px;
  }
  .categories__item-icons .iconsblur img {
    width: 148px;
    height: 142px;
  }
  .categories__item-icons .iconssmall {
    width: 148px;
    height: 142px;
  }
  .categories__item-icons .iconssmall img {
    height: 80px;
    min-width: 80px;
  }
  .categories__item-title h5 {
    font-size: 16px;
    padding: 20px 35px 25px;
  }
  .discover__items {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    gap: 20px;
  }
  .discover__item:last-child {
    display: none;
  }
  .nft-items {
    padding: 360px 40px 60px;
  }
  .nft-item {
    gap: 30px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
  }
  .nft-item .left h2 {
    font-size: 38px;
  }
  .how-it-work {
    padding: 40px 0px;
  }
  .how-item {
    padding: 10px 20px 30px;
    height: 340px;
  }
  .how-item img {
    width: 160px;
  }
  .how-item h4 {
    font-size: 16px;
  }
  .how-item p {
    font-size: 12px;
    width: 170px;
  }
  .subscribe__items {
    padding: 40px 30px;
  }
  .subscribe__item {
    justify-content: space-around;
  }
  .subscribe__item .right img {
    height: 100%;
    max-width: 280px;
  }
  .subscribe__item .left h3 {
    font-size: 28px;
  }
  .subscribe__item .left p {
    font-size: 16px;
    width: 300px;
    text-align: start;
    margin: 0px 0px 40px;
  }
  .subscribe__item .left .inputWithButton {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    position: relative;
  }
  .subscribe__item .left .inputWithButton input {
    width: 318px;
    padding: 16px 20px;
    height: 46px;
  }
  .subscribe__item .left .inputWithButton button {
    width: 318px;
    height: 60px;
    background: #A259FF;
    border-radius: 20px;
    outline: none;
    border: none;
    font-weight: 600;
    font-size: 16px;
    line-height: 140%;
    text-align: center;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    transition: all 0.3s ease;
    height: 46px;
    position: relative;
    top: 16px;
    right: 0;
    left: 0;
  }
  .subscribe__item .left .inputWithButton button:hover {
    transform: scale(0.95);
  }
  .subscribe__item .left .inputWithButton button img {
    width: 20px;
  }
}
@media screen and (max-width: 772px) {
  .hero__items {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column-reverse;
  }
  .hero__items .active {
    display: none;
  }
  .hero__items .activeButton {
    display: block;
    margin: 40px 0 0;
  }
  .hero__items .activeButton button {
    width: 317px;
    height: 60px;
    background: #A259FF;
    border-radius: 20px;
    outline: none;
    border: none;
    font-weight: 600;
    font-size: 16px;
    line-height: 140%;
    text-align: center;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    transition: all 0.3s ease;
    margin-bottom: 40px;
  }
  .hero__items .activeButton button:hover {
    transform: scale(0.95);
  }
  .hero__items .activeButton button img {
    width: 20px;
  }
  .hero__right {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    height: auto;
    width: 330px;
    order: 2;
  }
  .hero__right h1 {
    font-size: 28px;
    width: 315px;
  }
  .hero__right p {
    font-size: 16px;
    line-height: 140%;
    color: #FFFFFF;
    width: 330px;
    margin: 0 0 20px;
  }
  .hero__right-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
  }
  .hero__right-title h3 {
    font-size: 22px;
  }
  .hero__right-title span {
    font-size: 16px;
  }
  .hero__right .active {
    order: 1;
  }
  .hero__left {
    width: 330px;
  }
  .hero__left img {
    width: 330px;
  }
  .hero__left-items {
    margin: 22px 20px;
  }
  .hero__left-title {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 12px;
  }
  .hero__left-title img {
    width: 24px;
  }
  .hero__left-title span {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #FFFFFF;
  }
  .title {
    display: block;
    margin: 0 auto;
    width: 330px;
  }
  .title__button {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .title__button .non {
    display: none;
  }
  .title__button.active {
    display: block;
    margin-top: 40px;
  }
  .title__button.active button {
    width: 330px;
    margin: 0 auto;
  }
  .title__button.active img {
    margin: 0;
  }
  .title__button .buttonSmall {
    display: none;
  }
  .trending__items {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .trending__items p {
    font-size: 22px;
  }
  .trending__item:nth-last-child(-n+2) {
    display: none;
  }
  .topRated {
    padding: 40px 0px;
  }
  .topRated__items {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
  }
  .topRated__item {
    margin-bottom: 0px;
  }
  .topRated__item:nth-last-child(-n+7) {
    display: none;
  }
  .topRated__item-avatar {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    flex-direction: row;
    flex: 1;
    width: 330px;
  }
  .topRated__item-avatar img {
    width: 60px;
    margin: 0 auto;
  }
  .topRated__item-title {
    margin-left: 20px;
  }
  .topRated__item-title h3 {
    margin: 0;
    text-align: start;
  }
  .topRated__item-title p {
    font-size: 12px;
  }
  .topRated__item-subtitle {
    position: relative;
  }
  .topRated__item-subtitle-number {
    position: absolute;
    top: -95px;
    left: 35px;
  }
  .categories__items {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    width: 330px;
    margin: 0 auto;
    gap: 20px;
  }
  .categories__item {
    width: 148px;
  }
  .discover__items {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    width: 330px;
    margin: 0 auto;
    gap: 20px;
  }
  .discover__item:last-child {
    display: block;
  }
  .nft-items {
    padding: 120px 40px 40px;
  }
  .nft-item {
    gap: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .nft-item .active {
    display: block;
  }
  .nft-item .active button {
    width: 330px;
    height: 60px;
    background: #A259FF;
    border-radius: 20px;
    outline: none;
    border: none;
    font-weight: 600;
    font-size: 16px;
    line-height: 140%;
    text-align: center;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    transition: all 0.3s ease;
    background-color: #fff;
    font-weight: 600;
    font-size: 16px;
    line-height: 140%;
    text-align: center;
    color: #2B2B2B;
  }
  .nft-item .active button:hover {
    transform: scale(0.95);
  }
  .nft-item .active button img {
    width: 20px;
  }
  .nft-item .left h2 {
    font-size: 38px;
    margin: 0;
  }
  .nft-item .left .non {
    display: none;
  }
  .nft-item .right {
    width: 330px;
  }
  .how-items {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    width: 330px;
    margin: 0 auto;
    gap: 20px;
  }
  .how-item {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: row;
    padding: 20px;
    height: auto;
  }
  .how-item img {
    width: 100px;
  }
  .how-item-title {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
  }
  .how-item-title h4 {
    margin: 0;
  }
  .how-item-title p {
    text-align: start;
  }
  .subscribe {
    padding: 0px 0px 80px;
  }
  .subscribe__items {
    background: none;
  }
  .subscribe__item {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 30px;
  }
  .subscribe__item .right img {
    max-width: 320px;
  }
  .subscribe__item .left {
    opacity: 1;
  }
  .subscribe__item .left h3 {
    width: 318px;
  }
  .subscribe__item .left p {
    width: 318px;
  }
  .footer-title {
    text-align: center;
  }
  .footer hr {
    width: 330px;
  }
  .footer__items {
    width: 330px;
    margin: 0 auto;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    gap: 30px;
  }
  .footer__item ul li {
    max-width: 315px;
    margin-bottom: 10px;
  }
  .footer__item p {
    max-width: 315px;
  }
  .footer__item .inputWithButton {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    position: relative;
  }
  .footer__item .inputWithButton input {
    width: 315px;
    padding: 16px 20px;
    height: 46px;
  }
  .footer__item .inputWithButton button {
    width: 315px;
    height: 60px;
    background: #A259FF;
    border-radius: 20px;
    outline: none;
    border: none;
    font-weight: 600;
    font-size: 16px;
    line-height: 140%;
    text-align: center;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    transition: all 0.3s ease;
    height: 46px;
    position: relative;
    top: 16px;
    right: 0;
    left: 0;
  }
  .footer__item .inputWithButton button:hover {
    transform: scale(0.95);
  }
  .footer__item .inputWithButton button img {
    width: 20px;
  }
  .footer__icons img {
    width: 32px;
  }
}
.container {
  max-width: 1050px;
  margin: 0 auto;
}

html,
body {
  background-color: #2B2B2B;
  position: relative;
  width: 100%;
  padding: 0;
  margin: 0;
  border: 0;
  font-family: "Work Sans";
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

nav,
header {
  display: block;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: #000;
}

img {
  cursor: pointer;
}

ul {
  list-style-type: none;
  padding: 0;
}

hr,
body,
ul,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0 auto;
}

.col-6 {
  width: 50%;
}

.col-5 {
  width: 41.12%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33%;
}

.title h2 {
  font-style: normal;
  font-weight: 600;
  font-size: 38px;
  line-height: 120%;
  text-transform: capitalize;
  color: #FFFFFF;
  margin-bottom: 10px;
}
.title p {
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 160%;
  text-transform: capitalize;
  color: #FFFFFF;
  margin-bottom: 60px;
}

.title__button {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.title__button button {
  width: 247px;
  height: 60px;
  background: #A259FF;
  border-radius: 20px;
  outline: none;
  border: none;
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
  text-align: center;
  color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  transition: all 0.3s ease;
  background: none;
  border: 2px solid #A259FF;
}
.title__button button:hover {
  transform: scale(0.95);
}
.title__button button img {
  width: 20px;
}
.title__button.active {
  display: none;
}
.title__button p {
  margin-bottom: 0;
}
.title__button .buttonSmall {
  width: 187px;
  height: 60px;
  background: #A259FF;
  border-radius: 20px;
  outline: none;
  border: none;
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
  text-align: center;
  color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  transition: all 0.3s ease;
  background: none;
  border: 2px solid #A259FF;
}
.title__button .buttonSmall:hover {
  transform: scale(0.95);
}
.title__button .buttonSmall img {
  width: 20px;
}

.inputWithButton {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
}
.inputWithButton input {
  width: 427px;
  padding: 18px 0px 19px 20px;
  background: #FFFFFF;
  border-radius: 20px;
  border: none;
  outline: none;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #2B2B2B;
  position: relative;
}
.inputWithButton .inputSmall {
  width: 397px;
  padding: 18px 0px 19px 20px;
}
.inputWithButton button {
  width: 211px;
  height: 60px;
  background: #A259FF;
  border-radius: 20px;
  outline: none;
  border: none;
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
  text-align: center;
  color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  transition: all 0.3s ease;
  height: 60px;
  position: absolute;
  left: 218px;
}
.inputWithButton button:hover {
  transform: scale(0.95);
}
.inputWithButton button img {
  width: 20px;
}
.inputWithButton .buttonSmall {
  width: 179px;
  height: 60px;
  background: #A259FF;
  border-radius: 20px;
  outline: none;
  border: none;
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
  text-align: center;
  color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  transition: all 0.3s ease;
  height: 60px;
  position: absolute;
  left: 218px;
}
.inputWithButton .buttonSmall:hover {
  transform: scale(0.95);
}
.inputWithButton .buttonSmall img {
  width: 20px;
}

.titles h2 {
  font-size: 51px;
  font-weight: 600;
  line-height: 110%;
  margin-bottom: 15px;
  color: #fff;
}
.titles p {
  font-size: 22px;
  color: white;
  line-height: 160%;
  margin-bottom: 30px;
}

hr {
  width: 100%;
  border: 1px solid #3B3B3B;
}/*# sourceMappingURL=index.css.map */