.nfts
    padding: 0px 0px 80px
    .fon
        background-image: url('../img/home/nft.png')
        background-size: cover
        background-position: center
        background-repeat: no-repeat
        height: 450px
    &__info
        margin: 80px 0px 40px
        display: flex
        align-items: flex-start
        justify-content: space-between
        &-left
            display: flex
            align-items: flex-start
            gap: 30px
            flex-direction: column
            p
                margin: 0
                font-size: 22px
                line-height: 160%
                text-transform: capitalize
                color: #fff
                max-width: 605px
                font-weight: normal
            div
                color: #858584
                font-size: 22px
                font-family: Space Mono
                font-weight: 700
                line-height: 160%
                text-transform: capitalize
        &-title
            h2
                font-size: 51px
                font-weight: 600
                line-height: 110%
                color: #fff
                margin: 0
                margin-bottom: 30px
            p
                color: #858584
                font-size: 22px
                font-weight: normal
                line-height: 140%
                text-transform: capitalize
                font-family: Work Sans
        &-right
            background: rgba(59, 59, 59, 0.5)
            backdrop-filter: blur(5px)
            border-radius: 20px
            padding: 30px
            button
                @include button(235px)
                margin-top: 30px
            .right-subtitle
                font-weight: 400
                font-size: 12px
                line-height: 110%
                color: #FFFFFF
            .icons
                font-family: 'Space Mono'
                font-style: normal
                font-weight: 700
                font-size: 28px
                line-height: 140%
                color: #FFFFFF
                margin-top: 6px
            .right-title
                display: flex
                align-items: flex-start
                justify-content: space-around
                text-align: center
                gap: 10px
                p
                    font-weight: 400
                    font-size: 12px
                    line-height: 110%
                    color: #FFFFFF
                span
                    font-family: 'Space Mono'
                    font-style: normal
                    font-weight: 700
                    font-size: 38px
                    color: #FFFFFF
        &-timer
            display: none
    &__icons
    &__icon
        display: flex
        align-items: center
        gap: 10px
        p
            color: #FFF
            font-size: 22px
            font-family: Work Sans
            line-height: 160%
    .tags__items
        display: flex
        align-items: center
        justify-content: center
        gap: 20px
    .tags__item
        border-radius: 20px
        background: #3B3B3B
        padding: 5px 30px
        color: #FFF
        text-align: center
        font-size: 16px
        font-family: Work Sans
        font-weight: 600
        line-height: 140%
        text-transform: uppercase
    &__button
        padding-top: 40px
        display: flex
        justify-content: space-between
        align-items: center
        h3
            color: #FFF
            font-size: 38px
            font-family: Work Sans
            font-weight: 600
            line-height: 140%
            text-transform: capitalize
            margin: 0
        button
            @include button(267px)
            height: 60px
            color: #FFF
            text-align: center
            font-size: 16px
            font-family: Work Sans
            font-weight: 600
            line-height: 140%
            border: 2px solid #A259FF
            background: none

@media screen and (max-width:460px)
    .nfts
        &__info
            &-left
                gap: 25px
                p
                    font-size: 16px
                div
                    font-size: 16px
            &-title
                h2
                    font-size: 28px
        .tags__items
            flex-wrap: wrap
            align-items: flex-start
        &__button
            h3
                font-size: 25px

@media screen and (max-width:810px)
    .nfts
        .fon
            height: 280px
        &__info
            margin: 40px 0px
            display: flex
            align-items: center
            &-left
                padding: 0px 30px
                width: 100%
                margin: 0 auto
            &-right
                display: none
            &-timer
                display: block
                background: rgba(59, 59, 59, 0.5)
                backdrop-filter: blur(5px)
                border-radius: 20px
                padding: 30px
                button
                    @include button(235px)
                    margin-top: 30px
                .right-subtitle
                    font-weight: normal
                    font-size: 12px
                    line-height: 110%
                    color: #FFFFFF
                    margin-bottom: 20px
                .icons
                    font-family: 'Space Mono'
                    font-style: normal
                    font-weight: 700
                    font-size: 28px
                    line-height: 140%
                    color: #FFFFFF
                    margin-top: 6px
                .right-title
                    display: flex
                    align-items: flex-start
                    justify-content: space-around
                    text-align: center
                    gap: 10px
                    p
                        font-weight: 400
                        font-size: 12px
                        line-height: 110%
                        color: #FFFFFF
                    span
                        font-family: 'Space Mono'
                        font-style: normal
                        font-weight: 700
                        font-size: 38px
                        color: #FFFFFF
        .tags__items
            flex-direction: column
            align-items: flex-start
            justify-content: flex-start
        &__button
            padding: 0px 30px
            button
                display: none

@media (min-width:460px) and (max-width:980px)
    .nfts
        &__info
            &-left
                gap: 25px
                // width: 25%
                p
                    font-size: 16px
                    // width: 365px
                div
                    font-size: 16px
            &-title
                h2
                    font-size: 38px
        .tags__items
            flex-wrap: wrap
            align-items: flex-start
        &__button
            h3
                font-size: 28px
            button
