.rankings
    padding: 80px 0px
    &__sorts
        display: flex
        align-items: center
        justify-content: space-around
        padding: 80px 0 40px
    &__sort
        width: 25%
        color: #858584
        text-align: center
        font-size: 22px
        font-weight: 600
        line-height: 140%
        text-transform: capitalize
        height: 60px
        cursor: pointer
        &:first-child
            color: #fff
            border-bottom: 2px solid #858584
    &__sortmobiles
        display: none
    &__sortmobile
        display: none
    &__tables
        border-radius: 20px
        border: 1px solid #3B3B3B
        padding: 10px 0px
        text-align: center
        margin-bottom: 20px
    &__table
        display: flex
        align-items: center
        justify-content: space-between
        padding: 0px 20px
        .rank
            display: flex
            align-items: center
            gap: 20px
            max-width: 430px
            div
                color: #858584
                text-align: center
                font-size: 16px
                font-family: Space Mono
                line-height: 140%
                width: 30px
            p
                color: #858584
                text-align: center
                font-size: 16px
                line-height: 140%

        .stats
            display: flex
            align-items: center
            justify-content: flex-end
            text-align: left
            gap: 20px
            div
                color: #858584
                font-size: 16px
                line-height: 140%
                width: 160px
    &__items
        display: flex
        flex-direction: column
        gap: 20px
    &__item
        display: flex
        align-items: center
        justify-content: space-between
        border-radius: 20px
        background: #3B3B3B
        padding: 10px 20px
        &-avatar
            display: flex
            align-items: center
            text-align: center
            gap: 20px
            max-width: 430px
            h3
                color: #FFF
                font-size: 22px
                font-weight: 600
                line-height: 140%
                text-transform: capitalize
            img
                width: 60px
                height: 60px
            span
                color: #858584
                text-align: center
                font-size: 16px
                font-family: Space Mono
                line-height: 140%
                border-radius: 20px
                background: #2B2B2B
                padding: 4px 10px
        &-rang
            display: flex
            align-items: center
            justify-content: flex-end
            gap: 20px
            text-align: left
            div
                color: #ffffff
                font-size: 16px
                font-family: Space Mono
                line-height: 140%
                width: 160px
                &:first-child
                    color: #00AC4F

@media screen and (max-width:772px)
    .rankings
        &__sorts
            display: none

        &__sortmobiles
            display: block
            display: flex
            align-items: center
            justify-content: space-around
            padding: 30px 0 40px
        &__sortmobile
            display: block
            width: 25%
            color: #858584
            text-align: center
            font-size: 16px
            font-weight: 600
            line-height: 140%
            text-transform: capitalize
            height: 60px
            cursor: pointer
            &:first-child
                color: #fff
                border-bottom: 2px solid #858584
        &__table
            .rank
                gap: 12px
                font-size: 12px
            .stats
                div
                    width: 100px
                    &:nth-child(1)
                        display: none
        &__item
            &-avatar
                gap: 12px
                h3
                    font-size: 16px
                    font-weight: normal
                    padding-right: 5px
                span
                    font-size: 12px
                    background: none
                img
                    width: 24px
                    height: 24px
            &-rang
                div
                    width: 100px
                    font-size: 12px
                    &:nth-child(1)
                        display: none

@media screen and (max-width:444px)
    .rankings
        &__table
            .stats
                div
                    max-width: 60px
        &__item
            &-rang
                div
                    max-width: 60px
        .titles
            padding: 0
        .container
            padding: 0px 20px
@media screen and (max-width:982px)
    .rankings
        &__table
            .stats
                div
                    &:nth-child(2)
                        display: none
        &__item
            &-avatar
                span
                    background: none
                img
                    width: 24px
                    height: 24px
            &-rang
                div
                    &:nth-child(2)
                        display: none

@media (min-width:440px) and (max-width:1120px)
    .rankings
        &__item
            &-avatar
                max-width: 350px
