.wallet
    display: flex
    align-items: center
    gap: 60px
    align-self: stretch
    height: auto
    position: relative
    &__img
        align-self: stretch
        flex: 1
        height: auto
        min-width: 610px
        object-fit: cover
        position: relative
    &__list
        display: flex
        align-items: flex-start
        flex-direction: column
        padding: 100px 0px
        gap: 40px
        position: relative
        flex: 1
    &__title
        width: 460px
        h2
            font-weight: 600
            font-size: 51px
            line-height: 110%
            color: #FFFFFF
            margin-bottom: 20px
        p
            font-weight: 400
            font-size: 22px
            line-height: 160%
            color: #FFFFFF
    &__forms
        display: flex
        flex-direction: column
        align-items: flex-start
        gap: 20px
        button
            @include smallButton(320px)
            display: flex
            align-items: center
            gap: 20px
            height: 72px
            font-size: 22px
            background: #3B3B3B
            border: 1px solid #A259FF
            padding: 0px 20px 0px 40px

@media screen and (max-width:1185px)
    .wallet
        gap: 40px
        height: auto
        padding: 0px 50px 0px 0px
        &__img
            min-width: 397px

@media screen and (max-width:880px)
    .wallet
        padding: 0px 50px 0px 0px
        &__img
            min-width: 380px
        &__title
            width: 325px
            h2
                font-size: 38px
                line-height: 120%
            p
                font-size: 16px
                line-height: 140%
        &__forms
            button
                    height: 60px
                    font-size: 22px
                    background: #3B3B3B
                    border: 1px solid #A259FF
                    padding: 0px 20px 0px 40px
                    img
                        width: 32px
                        
@media screen and (max-width:772px)
    .wallet
        display: flex
        flex-wrap: wrap
        align-items: center
        flex-direction: column
        padding: 30px 0px 40px
        &__img
            min-width: 375px
            max-height: 232px
        &__list
            padding: 0px
