.nft
    &-highlight
        height: 640px
        align-items: center
        background: url(../img/gribochik.jpg)
        background-position: 50% 50%
        background-size: cover
    &-items
        background: linear-gradient(180deg, rgba(162.00005114078522, 89.00000989437103, 255, 0) 0%, rgb(162.00000554323196, 89.00000229477882, 255) 100%)
        align-items: flex-end
        display: flex
        height: auto
        justify-content: center
        padding: 600px 195px 60px
    
    
    

